.section {
    & .row {
        width: 100%;
        padding: 0.5rem 0;
        transition: all 0.3s ease-in-out;

        & .col {
            padding: 1rem;
            padding-bottom: 0;
            padding-left: 0;
        }
    }
}

.errorBox {
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    // padding:10px 5px;
    border-radius: 0.25rem;

    & .errorMessageBox {
        margin: 0 5px;
        padding: 5px;
        margin-top: 1rem;
        border-left: 3px solid #B71C1C;
        background-color: #EF5350;
        display: none;
    }

    &.showError {
        border-color: #B71C1C;
        background-color: #FFCDD2;
        color: #f44336 !important;
        box-shadow: 10px 10px 10px rgba(255, 82, 82, 0.4), -10px 10px 10px rgba(255, 82, 82, 0.4);

        & .errorMessageBox {
            display: block;
        }
    }
}