
.customDialog{
    width: 600px;
    
    & .dialogLayoutHeader{
        padding:10px 15px;        

        box-shadow:
            10px 10px 10px var(--shadow-color),
            -10px 10px 10px var(--shadow-color);


        & .closeButton{
            height:5px;
            width:5px;             
            text-align:center;                        
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            transition: all 0.3s ease-in-out;            
            background-color: #ff5f57;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
            

            & .closeIcon{
                transition: all 0.3s ease-in-out;                
                visibility: hidden;
                color: #212121;
            }

            &:hover{
                box-shadow: 0 0 10px 3px rgba(183, 28, 28, 0.8);

                & .closeIcon{
                    color: #212121;
                    visibility: visible;                    
                }
            }
        }
    }

    & .actionArea{        
        padding:10px 15px;        
        text-align: right;
        box-shadow:
            10px -10px 10px var(--shadow-color),
            -10px -10px 10px var(--shadow-color);
    }
    
}

.testClass{
    border: 1px solid red;
    background: red !important;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpBig {
  animation: fadeInUpBig 0.5s ease-in-out;
}