.newResume {
    height: 100vh;

    header, footer {
        padding: 20px 30px;
        box-shadow:
            10px 10px 10px var(--shadow-color),
            -10px 10px 10px var(--shadow-color);
        background-color: var(--background-color);
        border-radius: 0.25rem;
        position: sticky;
        top: 0;        
        z-index: 2 ;
    }

    footer{
        margin-top: 1rem;
        text-align: right;
        box-shadow:
            10px -10px 10px var(--shadow-color),
            -10px -10px 10px var(--shadow-color);
    }

    & label{
        z-index: 1;
    }
}