.Template1 {
    // border: 1px solid #ccc;   

    & header{
        text-align: center;           
        width: 100%;

        & .resumeNameTitle {
            margin: 0 !important;
        }

        & .resumeJobTitle{
            margin: 0 !important;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }

    & .leftColumn{
        // border: 1px solid red;
        width: 270px;
        padding:10px 7.5px;
        padding-left: 0;
        margin-top: 0.5rem;

        & .section{            
            background-color: #f5f5f5;
            padding: 10px 15px;
            border: 1px solid #ccc;
            margin-bottom: 1rem;
            box-shadow: none !important;
        }
    }

    & .rightColumn{
        padding:10px 7.5px;
        // border: 1px solid blue;

        & .timeline{
            border-left: 3px solid;
            padding: 10px 15px;
            margin: 0.5rem;
            & .section{
                // border: 1px solid red;
                margin-bottom: 1rem;
                position: relative;
                & .sectionIcon{
                    // border: 1px solid red;
                    position: absolute;
                    left: -1.80rem;
                    font-size: 1.25rem;
                    height: 25px;
                    width: 25px;
                    text-align: center;
                    z-index: 1;

                    &::after{
                        content: '';
                        position: absolute;
                        top: -3.5px;
                        left: -4px;
                        height: 30px;
                        width: 30px;
                        // border: 1px solid red;
                        border-radius: 50%;
                        z-index: -1;
                        background: #fff;
                    }
                }
            }

            & .resumeList{
                padding: 0;        
                list-style-type: none;
                margin: 0;
                & li{
                    position: relative;
                    text-align: justify !important;
                    margin-bottom: 0.25rem;
                    &::after{
                        content: '-';
                        font-size: 2.5rem;
                        position: absolute;
                        left: -1.40rem;
                        top: -1.2rem;
                    }
                }
            }

            & .subSection{
                // border: 1px solid red;
                margin-bottom: 1rem;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid #222;
                    left: -1.7rem;
                    top: 0.75rem;
                    background: #fff;
                }

                &::after{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid #222;
                    left: -1.40rem;
                    top: 1.10rem;
                    background: #222;
                }
            }
        }
    }

    
    
}