.section{
    padding: 0 30px;
    margin-top: 20px;

    & .row{
        width: 100%;
        padding: 0.5rem 0;
        transition: all 0.3s ease-in-out;

        & .col{
            padding: 1rem;
            padding-bottom: 0;
            padding-left: 0;
        }
    }
}

.timeline{
    border-left: 2px solid ;
    padding: 10px 15px;
    list-style-type: none;

    & li{
        position: relative;
        margin-bottom: 0.5rem;
        &::before{
            content: '-';
            position: absolute;
            font-size: 2rem;
            left: -1.30rem;
            top: -0.70rem;
        }
    }
}