.section {
    padding: 0 30px;
    margin-top: 20px;

    & .row {
        width: 100%;
        padding: 0.5rem 0;
        transition: all 0.3s ease-in-out;

        & .col {
            padding: 1rem;
            padding-bottom: 0;
            padding-left: 0;
        }
    }
}

.timeline {
    border-left: 2px solid;
    padding: 10px 15px;
    list-style-type: none;

    & .timelineEvent {
        border: 1px solid transparent;
        border-radius: 0.25rem;
        padding: 1rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        & .eventHeader {

            position: relative;

            &::before {
                position: absolute;
                content: '';
                background-color: #121212;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                left: -2.45rem;
                top: 1.15rem;
                z-index: 1;
            }

            &::after {
                position: absolute;
                content: '';
                background-color: #fff;
                width: 18px;
                height: 18px;
                border: 1px solid #121212;
                border-radius: 50%;
                left: -2.65rem;
                top: 1rem;
            }
        }

        & .iconBox {
            position: absolute;
            width: 35px;
            height: 35px;
            background-color: var(--background-color);
            left: -3.15rem;
            top: 0rem;
            border-radius: 50%;
        }

        &:hover {
            // background-color: #f8f9fa;
            box-shadow: 0 4px 8px;

            & .trashButton {
                visibility: visible;
            }
        }

        & .trashButton {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            padding: 0.5rem;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
            visibility: hidden;
        }

    }

    & ul {
        list-style: none;

        & li {
            position: relative;
            margin-bottom: 0.5rem;

            &::before {
                content: '-';
                position: absolute;
                font-size: 2rem;
                left: -2.40rem;
                top: -0.85rem;
            }
        }
    }

}