.signin{
    height: 100%;
    width: 100%;

    & .signInCardWrapper{
        width: 420px;
        text-align: center;

        & .signInCard{
            width: 420px;
            padding: 20px 30px;
            box-shadow:
                10px 10px 10px var(--shadow-color),
                -10px 10px 10px var(--shadow-color);
            border-radius: 0.25rem;
        }

        & .footer{
            padding: 0.50rem;
        }
    
    }
}