.signin{
    border: 1px solid red;   
    height: 100%;
    
    & .signinCard{
        // border: 1px solid blue;
        width: 420px;
        padding: 20px 30px;
        text-align: center;
        box-shadow: 0 0 40px;
        border-radius: 0.25rem;
    }
}