html, body, #root{
    height: 100%;
}

.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}

.centralize{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sticky-header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;    
    z-index: 1;
    padding: 20px 30px;    
    transition: all 0.3s ease;        
    box-shadow: 0 3px 5px ;
    margin-bottom: 1rem;
    z-index: 1;        
    }

label{
    z-index: 0 !important;
}