.fieldWrapper {
    border: 2px solid transparent;
    padding: 10px 5px;
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;

    & .field {
        z-index: 1;

        &input:-webkit-autofill {
            box-shadow: 0 0 0 1000px #fff inset !important;
            -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
            -webkit-text-fill-color: #000 !important;

            &:focus {
                box-shadow: 0 0 0 1000px #fff inset !important;
                -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
                -webkit-text-fill-color: #000 !important;
            }
        }
    }


    & .multiValue {
        // border: 1px solid #ccc;
        padding: 1rem 1.5rem;
        padding-right: 0;

        & .multiValuePlaceholder {
            text-align: center;
        }

        & .timeline {
            border-left: 2px solid;
            padding-left: 10px;
            list-style-type: none;


            & li {
                text-align: justify;
                padding: 0.5rem;
                border: 1px solid transparent;
                position: relative;
                margin-bottom: 0.5rem;
                transition: all 0.3s ease-in-out;
                border-radius: 0.25rem;
                cursor: pointer;

                &:hover {
                    border-color: #ccc;

                    .deleteIcon {
                        display: block;
                    }
                }

                &::before {
                    content: "-";
                    // color: red;
                    position: absolute;
                    font-size: 2rem;
                    left: -1.1rem;
                    top: -0.5rem;
                }
            }

            & .deleteIcon {
                display: none;
            }
        }

        & .skillChip {
            border: 1px solid;
            // padding: 0.5rem;
            border-radius: 0.25rem;
            transition: all 0.3s ease-in-out;
            background-color: #fff;
            color: #212121;

            & .skillAction {
                // border: 1px solid red;
                padding: 0 0.25rem;
                display: none;
                position: relative;
                width: 1.7rem;

                & .deleteBtn {
                    // border: 1px solid blue;
                    border-radius: 50%;
                    height: 1.7rem;
                    width: 1.7rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                transform: scale(1.3);
                border-bottom: 3px solid #121212;

                & .skillAction {
                    display: block;
                }
            }
        }
    }




    &.showError {
        border-color: #B71C1C;
        background-color: #FFCDD2;

        & .errorTextWrapper .errorIcon {
            display: block;
        }
    }

    & .errorTextWrapper {
        margin-top: 0.15rem;
        display: none;

        & .errorIcon {
            font-size: 0.68rem;
            color: #B71C1C;
            display: none;
        }

        & .errorText {
            line-height: 1;
        }

        &.showErrorText {
            display: flex;
        }

    }
}