.profileBadge {
    width: 140px;
    justify-self: center;
    text-align: center;

    & .hexClip {
        width: 140px;
        height: 155px;
        background-color: #f5f5f5;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        overflow: hidden;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            /* Adjust these values to change the thickness of your border */
            top: 0;
            left: 4px;
            right: 4px;
            bottom: 4px;
            background-color: #212529;
            /* Your main shape color */
            /* Matches the outer clip-path exactly */
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }
    }

    & .badgeTag {
        background-color: #212529;
        color: #f5f5f5;
        padding: 12px 10px;
        margin: auto;
        margin-top: -40px;
        // position: relative;
        width: 100px;
        height: 150px;


        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);

        & .tagTitle {
            margin-top: 50px;
            display: block;
            font-size: 10px;
            letter-spacing: 3px;
            font-weight: 300;
            margin-bottom: 4px;
        }

        & .tagInitials {
            font-size: 24px;
            // font-weight: 600;
            letter-spacing: 1px;
        }
    }
}

.timeline {
    border-left: 3px solid #212529;
    margin-top: 1rem;
    padding: 10px 15px;



    & .event {
        position: relative;
        // border: 1px solid red;

        &:not(:last-of-type) {
            margin-bottom: 1.5rem;
        }

        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #f5f5f5;
            left: -24px;
            top: 10px
        }

        &::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #212529;
            left: -24px;
            top: 10px
        }

        & .points {
            list-style-type: none;
            padding: 0;
            margin-top: 0.5rem;

            & li {
                margin-bottom: 0.25rem;
                position: relative;
                text-align: justify;

                &::before {
                    content: '-';
                    position: absolute;
                    font-size: 2rem !important;
                    left: -22px;
                    top: -17px
                }
            }
        }
    }
}